sudo: required
services:
  - docker

before_install:
  - docker build -t samikmalhotra/docker-react -f Dockerfile.dev .

script: 
  - docker run samikmalhotra/docker-react npm run test -- --coverage

deploy: 
  edge: true
  provider: elasticbeanstalk
  region: ""
  app: ""
  env: ""
  bucket_name: ""
  bucket_path: ""
  on: 
    branch: master